<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HS  admin panel</title>
    <!----favicon-->
    <link href="images/HSLogo-05W.png" rel="icon" type="icon/png" />

    <!--font css-->
    <link href="css/font.css" rel="stylesheet"/>
    
    <!--icon css-->
    <link href="css/all.min.css" rel="stylesheet"/>
    
    <!--custom css-->
    <link href="./css/style.css" rel="stylesheet"/>

    <!-- media quire -->
    <link href="css/media.css" rel="stylesheet"/>
</head>
<body>
    <div class="row">
        <div class="menu-width w-xs-toggle">
            <div class="ap-logo">
                <a href="javascript:;">
                    <img src="images/logo (1).png" />
                </a>
            </div>
            <nav class="w-xs-toggle">
                <div class="main-menu">
                    <h4>Main</h4>
                    <ul class="menu-ul">
                        <li class="menu-li active">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-table-columns"></i>
                                </div>
                                <div>
                                    Dashboard
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="/profile" class="row">
                                <div>
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                </div>
                                <div>
                                    User profile
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu">
                    <h4>Products</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-box-open"></i>
                                </div>
                                <div>
                                    Products
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-brands fa-dropbox"></i>
                                </div>
                                <div>
                                    create products
                                </div>
                            </a>
                        </li>
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-dolly"></i>
                                </div>
                                <div>
                                    import Products
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-tag"></i>
                                </div>
                                <div>
                                    brands
                                </div>
                            </a>
                        </li>
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-solar-panel"></i>
                                </div>
                                <div>
                                    category
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-biohazard"></i>
                                </div>
                                <div>
                                    sub category
                                </div>
                            </a>
                        </li>
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-barcode"></i>
                                </div>
                                <div>
                                    printbarcode
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu ">
                    <h4>sales</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                </div>
                                <div>
                                    sales
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-file-invoice"></i>
                                </div>
                                <div>
                                    invoices
                                </div>
                            </a>
                        </li>
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-file-circle-plus"></i>
                                </div>
                                <div>
                                    sales return
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-pager"></i>
                                </div>
                                <div>
                                    quotation
                                </div>
                            </a>
                        </li>
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-signs-post"></i>
                                </div>
                                <div>
                                    pos
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-shuffle"></i>
                                </div>
                                <div>
                                    transfer
                                </div>
                            </a>
                        </li>
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-arrows-turn-to-dots"></i>
                                </div>
                                <div>
                                    return
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu">
                    <h4>Purchases</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                </div>
                                <div>
                                    Purchases
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-file-invoice"></i>
                                </div>
                                <div>
                                    import Purchases
                                </div>
                            </a>
                        </li>
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-file-circle-plus"></i>
                                </div>
                                <div>
                                    Purchases order
                                </div>
                            </a>
                        </li>
                    
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-pager"></i>
                                </div>
                                <div>
                                    Purchases return
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu">
                    <h4>Finance & Accounts</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-regular fa-newspaper"></i>
                                </div>
                                <div>
                                    expense
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu">
                    <h4>Peoples</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div>
                                    customers
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-user-group"></i>
                                </div>
                                <div>
                                    suppliers
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                                <div>
                                    users
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-store"></i>
                                </div>
                                <div>
                                    stores
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu">
                    <h4>Reports</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-chart-simple"></i>
                                </div>
                                <div>
                                    sales Reports
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-chart-pie"></i>
                                </div>
                                <div>
                                    Purchase Report
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-regular fa-credit-card"></i>
                                </div>
                                <div>
                                    invorty Reports
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-sim-card"></i>
                                </div>
                                <div>
                                    invoices Reports
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-chart-bar"></i>
                                </div>
                                <div>
                                    Purchases reports
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-bars-progress"></i>
                                </div>
                                <div>
                                    suppliers reports
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-chart-line"></i>
                                </div>
                                <div>
                                    customers reports
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-menu">
                    <h4>User Management</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-users"></i>
                                </div>
                                <div>
                                    Manage users
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                
                <div class="main-menu">
                    <h4>pages</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-shield"></i>
                                </div>
                                <div>
                                    authentication
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-file-shield"></i>
                                </div>
                                <div>
                                    error pages
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="map/map.html" class="row">
                                <div>
                                    <i class="fa-regular fa-map"></i>
                                </div>
                                <div>
                                    places
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-regular fa-file-powerpoint"></i>
                                </div>
                                <div>
                                    blank pages
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-marker"></i>
                                </div>
                                <div>
                                    component
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                
                <div class="main-menu">
                    <h4>User Management</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-users"></i>
                                </div>
                                <div>
                                    Manage users
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                
                <div class="main-menu">
                    <h4>Settings</h4>
                    <ul class="menu-ul">
                        <li class="menu-li">
                            <a href="javascript:;" class="row">
                                <div>
                                    <i class="fa-solid fa-gear"></i>
                                </div>
                                <div>
                                    Settings
                                </div>
                            </a>
                        </li>

                        <li class="menu-li">
                            <a href="login/index.html" class="row">
                                <div>
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </div>
                                <div>
                                    log out
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="main-bg">
            <header class="pos-fixed w-xs-12 he">
                <div class="row nav-header w-12">
                    <div class="row w-12 align-item">
                        <div class="toggle-bg d-xs-none">
                            <a href="javascript:;">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </div>
                        <div class="row i-bg w-4 d-xs-none">
                            <div class="">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="input-bg">
                                <input type="text" placeholder="search">
                            </div>
                        </div>
                        <div class="res-menu w-xs-2 w-s-2 d-xl-none">
                        <a href="javascript:;">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                        </div>

                        <div class="s-logo w-xs-8 w-s-8 d-xl-none">
                            <a href="javascript:;">
                                <img src="images/logo (1).png" />
                            </a>
                        </div>
                        <div class="user-info w-xs-2 w-s-2 d-xl-none">
                            <a href="javascript:;">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </a>
                            <div class="d-xs-user">
                                <div class="drop-box-f">
                                    <a href="javascript:;">
                                        <p>
                                            myprofile
                                        </p>
                                    </a>
                                </div>
                                <div class="drop-box-f">
                                    <a href="javascript:;">
                                        <p>
                                            Settings
                                        </p>
                                    </a>
                                </div>
                                <div class="drop-box-f">
                                    <a href="login/index.html">
                                        <p>
                                            log out
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row w jus-con nav-icon d-xs-none">
                        
                            <div>
                                <a href="javascript:;">
                                    <i class="fa-solid fa-globe"></i>
                                </a>
                            </div>

                            <div>
                                <a href="javascript:;">
                                    <i class="fa-solid fa-crop-simple"></i>
                                </a>
                            </div>

                            <div>
                                <a href="javascript:;">
                                    <i class="fa-regular fa-envelope"></i>
                                </a>
                            </div>

                            <div>
                                <a href="javascript:;">
                                    <i class="fa-solid fa-bell"></i>
                                </a>
                            </div>

                            <div>
                                <a href="javascript:;">
                                    <i class="fa-solid fa-gear"></i>
                                </a>
                            </div>
                            <div class="row align-item">
                                <div class="img-top">
                                    <img src="images/_1.jpg" />
                                </div>
                                <div class="img-con">
                                    <h4>
                                        <%= username %>  <!-- EJS syntax to display the username -->
                                    </h4>
                                    <p>
                                        super admin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- main body -->
             
            <div class="mt-30">
                <div>
                    <h1 style="margin-left: 25px; margin-bottom: 10px;">
                        Welcome <%= username %>
                    </h1>
                 </div>
                <div class="w-12">
                    <div class="w-12 row">
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 bg-color row">
                                <div class="shoping-i1 row">
                                    <i class="fa-solid fa-gifts"></i>
                                </div>
                                <div class="shop-con">
                                    <h3>$307144</h3>
                                    <p>Total Purchase Due</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 bg-color row">
                                <div class="shoping-i2 row">
                                    <i class="fa-solid fa-money-check-dollar"></i>
                                </div>
                                <div class="shop-con">
                                    <h3>$4385</h3>
                                    <p>Total sales Due</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 bg-color row">
                                <div class="shoping-i3 row">
                                    <i class="fa-solid fa-download"></i>
                                </div>
                                <div class="shop-con">
                                    <h3>$385656.5</h3>
                                    <p>Total sales amount</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 bg-color row">
                                <div class="shoping-i4 row">
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                </div>
                                <div class="shop-con">
                                    <h3>$40000</h3>
                                    <p>Total sales amount</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-12 row">
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 cus-bg row space-bet">
                                <div class="cus-content">
                                    <h2>100</h2>
                                    <p>Customers</p>
                                </div>
                                <div class="cus-icon">
                                    <i class="fa-regular fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 sup-bg row space-bet">
                                <div class="cus-content">
                                    <h2>100</h2>
                                    <p>suppliers</p>
                                </div>
                                <div class="cus-icon">
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 inv-bg row space-bet">
                                <div class="cus-content">
                                    <h2>100</h2>
                                    <p>Purchase Invoice</p>
                                </div>
                                <div class="cus-icon">
                                    <i class="fa-regular fa-file-lines"></i>
                                </div>
                            </div>
                        </div>
                        <div class="w-3 w-xs-12 w-s-6 w-xxl-3">
                            <div class="w-12 sale-bg row space-bet">
                                <div class="cus-content">
                                    <h2>100</h2>
                                    <p>Sales Invoice</p>
                                </div>
                                <div class="cus-icon">
                                    <i class="fa-regular fa-paste"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="w-12">
                <div class="w-12">
                    <div class="w-12 row">
                        <div class="w-7 w-xs-12 w-s-12 w-xxl-7 row">
                            <div class="w-12 row space-bet bg-color">
                                <div class="w-4 chat-1c">
                                    <h3>
                                        Purchase & Sales
                                    </h3>
                                </div>
                                <div class="w-2 year-box">
                                    <p>
                                        2022
                                    </p>
                                </div>
                                    <div class="w-12" id="chart"></div>
                            </div>
                        </div>
                        <div class="w-5 w-xs-12 w-s-12 w-xxl-5">
                            <div class="w-12">
                                <div class="row bg-color">
                                    <div class="w-7">
                                        <h3>
                                            Recently Added Products
                                        </h3>
                                    </div>
                                    <div class="w row flex-end">
                                        <a href="javascript:;">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </a>
                                    </div>

                                    <div class="w-12">
                                        <div class="row pad-box">
                                            <div class="w-3 row">
                                                <div class="w-4">
                                                    <p>
                                                        sno
                                                    </p>
                                                </div>
                                                <div class="w row flex-end">
                                                    <a href="javascript:;">
                                                        <i class="fa-solid fa-up-down"></i>
                                                    </a>
                                                </div>
        
                                            </div>
                                            <div class="w-5 row">
                                                <div class="w-4">
                                                    <p>
                                                        products
                                                    </p>
                                                </div>
                                                <div class="w row flex-end">
                                                    <a href="javascript:;">
                                                        <i class="fa-solid fa-up-down"></i>
                                                    </a>
                                                </div>
        
                                            </div>
                                            <div class="w-4 row">
                                                <div class="w-4">
                                                    <p>
                                                        price
                                                    </p>
                                                </div>
                                                <div class="w row flex-end">
                                                    <a href="javascript:;">
                                                        <i class="fa-solid fa-up-down"></i>
                                                    </a>
                                                </div>
        
                                            </div>
                                        </div>
                                        <div class="w-12">
                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>1</p>
                                                </div>
                                                <div class="w-6 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product22.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            Apple earphone
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="w-4 pr-font">
                                                    <p>$891.2</p>
                                                </div>
                                            </div>

                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>2</p>
                                                </div>
                                                <div class="w-6 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product24.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            samsung
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="w-4 pr-font">
                                                    <p>$552.29</p>
                                                </div>
                                            </div>

                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>3</p>
                                                </div>
                                                <div class="w-6 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product23.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            i phone 11
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="w-4 pr-font">
                                                    <p>$668.51</p>
                                                </div>
                                            </div>

                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>4</p>
                                                </div>
                                                <div class="w-6 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product6.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            macbook pro
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                                <div class="w-4 pr-font">
                                                    <p>$291.01</p>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="w-12">
                            <div class="w-12 row">
                                <div class="w-12 bg-color">
                                    <div>
                                        <h3>
                                            Expired Products
                                        </h3>
                                    </div>
                                    <div class="sc">
                                        <div class="w-12 y">
                                            <div class="row pad-box">
                                                <div class="w-2 row">
                                                    <div class="w-4 font-size-ex">
                                                        <p>
                                                            sno
                                                        </p>
                                                    </div>
                                                    <div class="w row flex-end">
                                                        <a href="javascript:;">
                                                            <i class="fa-solid fa-up-down"></i>
                                                        </a>
                                                    </div>
            
                                                </div>
                                                <div class="w-2 row">
                                                    <div class="w-9 font-size-ex">
                                                        <p>
                                                            products code
                                                        </p>
                                                    </div>
                                                    <div class="w-1 row flex-end">
                                                        <a href="javascript:;">
                                                            <i class="fa-solid fa-up-down"></i>
                                                        </a>
                                                    </div>
            
                                                </div>
                                                <div class="w-2 row">
                                                    <div class="w-10 font-size-ex">
                                                        <p>
                                                            products name
                                                        </p>
                                                    </div>
                                                    <div class="w-1 row flex-end">
                                                        <a href="javascript:;">
                                                            <i class="fa-solid fa-up-down"></i>
                                                        </a>
                                                    </div>
            
                                                </div>
                                                <div class="w-2 row">
                                                    <div class="w-9 font-size-ex">
                                                        <p>
                                                            brand name
                                                        </p>
                                                    </div>
                                                    <div class="w row flex-end">
                                                        <a href="javascript:;">
                                                            <i class="fa-solid fa-up-down"></i>
                                                        </a>
                                                    </div>
            
                                                </div>
                                                <div class="w-2 row">
                                                    <div class="w-10 font-size-ex">
                                                        <p>
                                                            category name
                                                        </p>
                                                    </div>
                                                    <div class="w-1 row flex-end">
                                                        <a href="javascript:;">
                                                            <i class="fa-solid fa-up-down"></i>
                                                        </a>
                                                    </div>
            
                                                </div>
                                                <div class="w-2 row">
                                                    <div class="w-9 font-size-ex">
                                                        <p>
                                                            expiry date
                                                        </p>
                                                    </div>
                                                    <div class="w row flex-end">
                                                        <a href="javascript:;">
                                                            <i class="fa-solid fa-up-down"></i>
                                                        </a>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="w-12 y">
                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>1</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>	IT0001</p>
                                                </div>
                                                <div class="w-2 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product2.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            orange
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>N/D</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>fruits</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>12-12-2022</p>
                                                </div>
                                            </div>
    
                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>2</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>	IT0002</p>
                                                </div>
                                                <div class="w-2 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product3.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            Pineapple
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>N/D</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>fruits</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>25-11-2022</p>
                                                </div>
                                            </div>
    
                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>3</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>	IT0003</p>
                                                </div>
                                                <div class="w-2 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product4.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            Strawberry
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>N/D</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>fruits</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>19-11-2022</p>
                                                </div>
                                            </div>
    
                                            <div class="row text-center pd-img">
                                                <div class="w-2 pr-font">
                                                    <p>4</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>	IT0004</p>
                                                </div>
                                                <div class="w-2 row text-center">
                                                    <div class="pr-img">
                                                        <img src="images/product5.jpg" />
                                                    </div>
                                                    <div class="pr-img-content">
                                                        <p>
                                                            Avocet
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>N/D</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>fruits</p>
                                                </div>
                                                <div class="w-2 pr-font">
                                                    <p>20-11-2022</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>
            
        var options = {
            series: [{
            name: 'sale',
            data: [50,45,60,70,50,45,60,70]
        }, {
            name: 'purchase',
            data: [-21, -54, -45, -35, -21, -54,-45,-35]
        }],
            chart: {
            type: 'bar',
            height: 290,
            stacked: true,
            toolbar: {
            show: true
            },
            zoom: {
            enabled: true
            }
        },
        responsive: [{
        breakpoint: 480,
        options: {
            legend: {
                position: 'bottom',
                offsetX: -10,
                offsetY: 0
            }
            }
        }],
        plotOptions: {
            bar: {
            horizontal: false,
            borderRadius: 10,
            dataLabels: {
            total: {
                enabled: false,
                style: {
                    fontSize: '13px',
                    fontWeight: 900,
                }
            }
            }
        },
        },
        xaxis: {
            type: 'month',
            categories: ['jan', 'feb', 'march', 'april',
            'may', 'june' , 'july' , 'aug'
        ],
        },
        legend: {
            position: 'right',
            offsetY: 40
        },
        fill: {
            opacity: 1,
            colors:['#28c76f','#ea5455'],
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        </script>


        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function(){
                    $(".menu-li").click(function(){
                        $(this).addClass("active").siblings(".menu-li").removeClass("active")
                        $(this).parents(".main-menu").siblings(".main-menu").children(".menu-ul").children('.menu-li').removeClass("active")
                    })

                    $(".toggle-bg").click(function(){
                        $(".menu-width").toggleClass("toggle")

                        $(".main-bg").toggleClass("toggle")
                        $(".nav-header").toggleClass("toggle")
                        
                    })

                    $(".res-menu").click(function(){
                        $("nav").toggleClass("w-xs-toggle")
                        $(".menu-width").toggleClass("w-xs-toggle")
                    })

                    $(".user-info").click(function(){
                        $(".d-xs-user").toggleClass("toggle")
                    })
                });
            </script>
</body>
</html>